section#infoarte
  //
    +----------------------+
      HEADER
    +----------------------+
  header.g-header
      h1 TESTE WEB
  //- /.g-header
  //
    +----------------------+
      MAIN
    +----------------------+
  main
    div.g-main            
    //- /.g-main
  //- /main    
//- /#infoarte



