doctype html
html(lang,"pt-br")
  title Base Webpack
  head
    include util/variables.pug
    include includes/head.pug
  body
    include componentes/main.pug
    //-img(src='../img/dbz.jpg')
    //-include componentes/footer.pug

