-var info = "blocos-de-carnaval-de-rua-do-rio-2019";
-var linkInfo = `https://infograficos.oglobo.globo.com/rio/${info}.html`;
-var infoDescription = "Consulte a lista de blocos que desfilarão na cidade. Faça uma busca pelo nome de um bloco ou filtre por bairro ou data";
-var fbAppId = "275998675912771";
-var image = {};
- image.type = "image/jpg";
- image.width = "600";
- image.height = "315";
- image.description = infoDescription;
- image.url = `https://infograficos-estaticos.s3.amazonaws.com/${info}/img/fb.jpg`;
- image.alt = "Blocos de Carnaval de rua do Rio 2019";

-var keywords = ["Globo, jornalismo, jornal, notícia, leitura, ler, digital, álbum, informação, jornalista, infográfico"];
-var theme = "#ad3535";